@font-face {
  font-family: "GDFont";
  src: url("GDFont.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
    user-select: none;
    background-color: #1c15fffa;
    font-family: GDFont;
    margin: 0;
    padding: 0;
}

#title {
    width: 350px;
    display: block;
    margin: 0 auto;
}

#sub-title {
    text-align: center;
    font-family: GDFont;
    color: white;
    -webkit-text-stroke: 1px black;
}

.btns {
    margin: 0 auto;
    display: block;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to bottom, #6dcf16 0%, #6dcf16 50%, #4eab12 50%, #4eab12 100%);
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    font-family: GDFont;
    -webkit-text-stroke: 1px black;
    letter-spacing: 1px;
    font-size: 19px;
    transition: ease-in-out 0.2s;
}

.btns:hover {
    scale: 120%;
}


.border-line {
    border: 2px solid #b05800;
    background-color: #ff9340;
    border-radius: 12px;
    width: 90%;  
    max-width: 350px;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.border-line2 {
    border: 3px solid rgb(176, 88, 0);
    background-color: #ff9340;
    border-radius: 12px;
    width: 90%;  
    max-width: 350px;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 0 auto;
}


.item {
    padding-left: 5px;
    display: block;
    gap: 8px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
    line-height: normal; 
}

.item img {
  width: 20px;
  height: 20px;
}